.App {
  text-align: center;
 margin-top: 2rem;
}


/* FORM CONTROL COMPONENT */

#input-container{
  padding:0.5rem;
  margin:0.5rem;
}
.btn{
  color:black;
  background-color: blue;
  font-size: 1rem;
  font-weight: bold;
  width:10%;
  height:30px;
  cursor: pointer;
  margin-top:2rem ;

}
label{
  margin-left: 1rem;
}





